TestProject/GDRSImageCacheTestProject.xcodeproj/project.xcworkspace/xcuserdata
TestProject/GDRSImageCacheTestProject.xcodeproj/xcuserdata
TestProject/Pods
Podfile.lock
TestProject/GDRSImageCacheTestProject.xcworkspace
